.todos {
    display: flex;
    flex-direction: column;
    padding: 0;

}


.todo{

    margin-bottom: 12px;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
}


.todo.completed {
background-color: rgba(0, 128, 0, 0.308);

} 

.todo.incompleted {
    background-color: rgba(255, 0, 0, 0.349);
}