body {
    margin-left: auto;
    margin-right: auto;
    font-family: plus jakarta sans;
    width: 50%;
}

h1 {
    font-weight: 800;
    color: blue;
}

h2 {
    font-weight: 600;
    color: aqua;
    text-align: left;
}

.artigo-um {
    padding-top: 2em;
    padding-left: 8%;
    padding-right: 5%;
    font-size: 16;
    text-align: justify;
    color: brown;

}

.artigo-dois {
    padding-top: 1em;
    font-size: 12;
    font-style: italic;
    font-weight: 800;
    color: blue;
    
}

a:hover{ 
    color: orange;
    
}