.card {
 
  height: 150px;
}


.highlighted-book {
  background-color: yellow;
}

.favourite-movie {
  background-color: rgb(255, 208, 90);
   width: 300px;

}

.favourite-icon {
  justify-self: end;
  font-size: 32px;

}

button {
  width: 80px;
}