.tokiologo {
    height: 60px;
}

.tokioschool {
    font-size: 16px;
    color: #333fff;
}

.navbar {
    background-color: black;
    width: 100%;    
}

.a-nav {
    color: white;
}

.index-footer {
    background-color: black;
}

.a-footer {
    color: white;
}


