body {
    padding: 0;
    margin: 0;
}


#logout-button, #login-button {
    display: none; 
}


header {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
    min-height: 60px;
    background-color: bisque;
}