body {    
    background: linear-gradient(51deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal {
    background-color: white;
    width: 300px;
    height: auto;
    padding: 24px 80px ;
    border-radius: 32px ;
    
   
}

