

.destaques-container {
    display: flex;
    background-color: blue;
    border-bottom: 3px solid yellow;
    box-shadow: 3px 3px 3px #0000006b;
}
     
.destaques-container .destaque {
    font-family: Roboto;
}

.destaques-container .destaque h2 {
    margin: 0;
    font-size: 1.1em;
}

.destaques-container .destaque p {
    margin: 0;
    font-size: 0.75em;
}

